h1,h2 {
    font-size: 55px;
    font-weight: 600;
    text-align: center;
}


.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
p {
    text-align: center;
    font-size: 35px;
}

img {
    height: 20rem;
    width: 20rem;
    
}

.player1 {
     
}